n8n/workflows/post_call_finalize.json
{
  "name": "post_call_finalize",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-call-finalize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "post-call-finalize-wh"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "var req=$input.first().json; var headers=(req && req.headers)||{};\nvar got=headers['x-auth-secret']||headers['X-Auth-Secret'];\nvar expected=$env.N8N_SHARED_SECRET;\nif(!expected || got!==expected){ return [{json:{ok:false,data:null,error_code:'AUTH_REJECTED',message_for_agent:null,meta:{version:'v1'}}}]; }\nvar body=(req && req.body)||{};\nreturn [{json: Object.assign({}, body, {_headers:headers, _t0: Date.now()})}];"
      },
      "id": "node1",
      "name": "Auth Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "var inp=$input.first().json; if(inp && inp.ok===false){ return [{json:inp}]; }\nif(!inp.conversation_id) return [{json:{ok:false,data:null,error_code:'MISSING_INPUT',message_for_agent:'conversation_id is required.',meta:{version:'v1'}}}]; return [{json:inp}];"
      },
      "id": "node2",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "var inp=$input.first().json; if(inp && inp.ok===false){ return [{json:inp}]; }\nif(inp.ok===false) return [{json:inp}];\nvar base=$env.SUPABASE_URL, key=$env.SUPABASE_SERVICE_ROLE_KEY, helpers=this.helpers; var Hget={apikey:key,Authorization:'Bearer '+key}; var Hjson={apikey:key,Authorization:'Bearer '+key,'Content-Type':'application/json'};\nvar cu=0,oi=0,tw=0;\nvar allowedOutcome=['completed_automated','completed_with_handover','abandoned','error']; var oc=allowedOutcome.indexOf(inp.outcome)>=0?inp.outcome:null;\n// 1) close the conversation\ntry{ await helpers.httpRequest({method:'PATCH',url:base+'/rest/v1/conversations?id=eq.'+inp.conversation_id,headers:Object.assign({},Hjson,{Prefer:'return=minimal'}),body:{ended_at:(inp.ended_at||new Date().toISOString()),outcome:oc},json:true}); cu=1; }catch(e){}\n// 2) upsert the outcome\ntry{ var ga=(oc==='completed_automated'); await helpers.httpRequest({method:'POST',url:base+'/rest/v1/outcomes?on_conflict=conversation_id',headers:Object.assign({},Hjson,{Prefer:'resolution=merge-duplicates,return=minimal'}),body:{conversation_id:inp.conversation_id,goal_achieved:ga},json:true}); oi=1; }catch(e){}\n// 3) fold the old log_tool_call: bulk-insert batched tool_calls[] (same shape as suggest_specialty)\nvar tc=Array.isArray(inp.tool_calls)?inp.tool_calls:[];\nif(tc.length){ var batch=tc.map(function(c){ return {conversation_id:inp.conversation_id,tool_name:c.tool_name||null,request_json:(c.request||c.request_json||null),response_json:(c.response||c.response_json||null),ok:(c.ok!==undefined?c.ok:null),error_code:(c.error_code||null),latency_ms:(c.latency_ms!==undefined?c.latency_ms:null),confirmation_token:(c.confirmation_token||null)}; });\n  try{ await helpers.httpRequest({method:'POST',url:base+'/rest/v1/tool_calls',headers:Object.assign({},Hjson,{Prefer:'return=minimal'}),body:batch,json:true}); tw=batch.length; }catch(e){} }\n// 4) no materialised views in this pack — KPI counters are computed live by the dashboard\nreturn [{json:{_result:{conversations_updated:cu,outcomes_inserted:oi,tool_calls_written:tw,kpi_refreshed:false},_t0:inp._t0}}];"
      },
      "id": "node3",
      "name": "Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "var inp=$input.first().json; if(inp.ok===false) return [{json:{ok:false,data:null,message_for_agent:inp.message_for_agent||null,error_code:inp.error_code,meta:{version:'v1'}}}]; return [{json:{ok:true,data:inp._result,message_for_agent: inp._msg||null,error_code:null,meta:{version:'v1',duration_ms: inp._t0?(Date.now()-inp._t0):null}}}];"
      },
      "id": "node4",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "node5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1320,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
